{% extends "base.html" %}


{% block content %}
    <div style="text-align: center;"><h1>Course Feedback</h1></div>






    {% for year, courses in data.items() %}
        <div style="font-size: 23px; margin-top: 10px;">{{ year }}</div>
        <ul class="list-group">
            {% for course in courses %}
                <li class="list-group-item"><a href="/course/{{ year }}/{{ course.course }}">{{ course.course }}</a><br></li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}

